API_1p0-unnoted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:API:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ds="urn:wco:datamodel:WCO:Response_DS:1"
    targetNamespace="urn:wco:datamodel:WCO:API:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:wco:datamodel:WCO:Response_DS:1" schemaLocation="API_1p0_urn_wco_datamodel_WCO_Response_DS_1.xsd"/>
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Function" type="ds:ResponseFunctionCodeType" minOccurs="0"/>
        <xs:element name="FunctionalReferenceID" type="ds:ResponseFunctionalReferenceIDType" minOccurs="0"/>
        <xs:element name="ID" type="ds:ResponseIdentificationIDType" minOccurs="0"/>
        <xs:element name="IssueDateTime" type="ds:ResponseIssueDateTimeType" minOccurs="0"/>
        <xs:element name="LanguageCode" type="ds:ResponseLanguageCodeType" minOccurs="0"/>
        <xs:element name="TypeCode" type="ds:ResponseTypeCodeType" minOccurs="0"/>
        <xs:element name="VersionID" type="ds:ResponseVersionIDType" minOccurs="0"/>
        <xs:element name="ReplyTypeCode" type="ds:ResponseReplyTypeCodeType" minOccurs="0"/>
        <xs:element name="Authenticator" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:AuthenticatorNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:AuthenticatorIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:AuthenticatorRoleCodeType" minOccurs="0"/>
              <xs:element name="IdentificationIssuingCountryCode" type="ds:AuthenticatorIdentificationIssuingCountryCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                    <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                    <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                    <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                    <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InsuranceCompany" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:InsuranceCompanyNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:InsuranceCompanyIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:InsuranceCompanyRoleCodeType" minOccurs="0"/>
              <xs:element name="IdentificationIssuingCountryCode" type="ds:InsuranceCompanyIdentificationIssuingCountryCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                    <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                    <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                    <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                    <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Submitter" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:SubmitterRoleCodeType" minOccurs="0"/>
              <xs:element name="IdentificationIssuingCountryCode" type="ds:SubmitterIdentificationIssuingCountryCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                    <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                    <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                    <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                    <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType" minOccurs="0"/>
              <xs:element name="FunctionalReferenceID" type="ds:AdditionalDocumentFunctionalReferenceIDType" minOccurs="0"/>
              <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
              <xs:element name="LanguageCode" type="ds:AdditionalDocumentLanguageCodeType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
              <xs:element name="VersionID" type="ds:AdditionalDocumentVersionIDType" minOccurs="0"/>
              <xs:element name="Authenticator" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:AuthenticatorNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AuthenticatorIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:AuthenticatorRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AuthenticatorIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BinaryFile" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:BinaryFileIdentificationIDType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Title" type="ds:BinaryFileTitleTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="AuthorName" type="ds:BinaryFileAuthorNameTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="VersionID" type="ds:BinaryFileVersionIDType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="FileNametext" type="ds:BinaryFileFileNameTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="URIID" type="ds:BinaryFileURIIDType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="MIMECode" type="ds:BinaryFileMIMECodeType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="EncodingCode" type="ds:BinaryFileEncodingCodeType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="CharacterSetCode" type="ds:BinaryFileCharacterSetCodeType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="IncludedBinaryObjectBinaryObject" type="ds:BinaryFileIncludedBinaryObjectBinaryObjectType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Access" type="ds:BinaryFileAccessTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Description" type="ds:BinaryFileDescriptionTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="SizeMeasure" type="ds:BinaryFileSizeMeasureType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="TypeCode" type="ds:BinaryFileTypeCodeType" minOccurs="0"/>
                    <xs:element name="HashCode" type="ds:BinaryFileHashCodeTextType" minOccurs="0"/>
                    <xs:element name="HashCodeAlgorithmIDCode" type="ds:BinaryFileHashCodeAlgorithmIDCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="InsuranceCompany" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:InsuranceCompanyNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:InsuranceCompanyIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:InsuranceCompanyRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:InsuranceCompanyIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Submitter" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:SubmitterRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:SubmitterIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Applicant" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ApplicantNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:ApplicantIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:ApplicantRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:ApplicantIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
              <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
              <xs:element name="LimitDateTime" type="ds:AdditionalInformationLimitDateTimeType" minOccurs="0"/>
              <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
              <xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType" minOccurs="0"/>
                    <xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType" minOccurs="0"/>
                    <xs:element name="TagID" type="ds:PointerTagIDType" minOccurs="0"/>
                    <xs:element name="Location" type="ds:PointerLocationTextType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Amendment" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChangeReasonCode" type="ds:AmendmentChangeReasonCodeType" minOccurs="0"/>
              <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
                    <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                    <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType" minOccurs="0"/>
                    <xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType" minOccurs="0"/>
                    <xs:element name="TagID" type="ds:PointerTagIDType" minOccurs="0"/>
                    <xs:element name="Location" type="ds:PointerLocationTextType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AppealOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:AppealOfficeIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Bank" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReferenceID" type="ds:BankReferenceIDType" minOccurs="0"/>
              <xs:element name="ID" type="ds:BankAccountIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:ContactOfficeIdentificationIDType" minOccurs="0"/>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Control" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LimitDateTime" type="ds:ControlLimitDateTimeType" minOccurs="0"/>
              <xs:element name="InspectionStartDateTime" type="ds:ControlInspectionStartDateTimeType" minOccurs="0"/>
              <xs:element name="InspectionEndDateTime" type="ds:ControlInspectionEndDateTimeType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:ControlTypeCodeType" minOccurs="0"/>
              <xs:element name="ControlResult" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:ControlResultIdentificationCodeType" minOccurs="0"/>
                    <xs:element name="ExaminationImageBinaryObject" type="ds:ControlResultExaminationImageBinaryObjectType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Counterpart" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:CounterpartNameTextType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Error" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" type="ds:ErrorDescriptionTextType" minOccurs="0"/>
              <xs:element name="ValidationCode" type="ds:ErrorValidationCodeType" minOccurs="0"/>
              <xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType" minOccurs="0"/>
                    <xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType" minOccurs="0"/>
                    <xs:element name="TagID" type="ds:PointerTagIDType" minOccurs="0"/>
                    <xs:element name="Location" type="ds:PointerLocationTextType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MasterDataOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:MasterDataOfficeIdentificationIDType" minOccurs="0"/>
              <xs:element name="Name" type="ds:MasterDataOfficeNameTextType" minOccurs="0"/>
              <xs:element name="CountryCode" type="ds:MasterDataOfficeCountryCodeType" minOccurs="0"/>
              <xs:element name="ValidityStartDateTime" type="ds:MasterDataOfficeValidityStartDateTimeType" minOccurs="0"/>
              <xs:element name="ValidityEndDateTime" type="ds:MasterDataOfficeValidityEndDateTimeType" minOccurs="0"/>
              <xs:element name="BorderingOffice" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:BorderingOfficeIdentificationIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Role" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SpecificationCode" type="ds:RoleSpecificationCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                    <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                    <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                    <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                    <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MasterDataRecipient" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TypeCode" type="ds:MasterDataRecipientTypeCodeType" minOccurs="0"/>
              <xs:element name="ID" type="ds:MasterDataRecipientIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MasterDataSender" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TypeCode" type="ds:MasterDataSenderTypeCodeType" minOccurs="0"/>
              <xs:element name="ID" type="ds:MasterDataSenderIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MasterDataParty" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:MasterDataPartyNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:MasterDataPartyIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:MasterDataPartyRoleCodeType" minOccurs="0"/>
              <xs:element name="IdentificationIssuingCountryCode" type="ds:MasterDataPartyIdentificationIssuingCountryCodeType" minOccurs="0"/>
              <xs:element name="ShortName" type="ds:MasterDataPartyShortNameTextType" minOccurs="0"/>
              <xs:element name="BusinessTypeCode" type="ds:MasterDataPartyBusinessTypeCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                    <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                    <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                    <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                    <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType" minOccurs="0"/>
                    <xs:element name="EffectiveDateTime" type="ds:AdditionalDocumentEffectiveDateTimeType" minOccurs="0"/>
                    <xs:element name="ExpirationDateTime" type="ds:AdditionalDocumentExpirationDateTimeType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
                    <xs:element name="StatusCode" type="ds:AdditionalDocumentStatusCodeType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:PaymentOfficeIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReleaseOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:ReleaseOfficeIdentificationIDType" minOccurs="0"/>
              <xs:element name="ActualIndicator" type="ds:ReleaseOfficeActualIndicatorType" minOccurs="0"/>
              <xs:element name="Warehouse" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:WarehouseIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:WarehouseTypeCodeType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:WarehouseRoleCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Status" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EffectiveDateTime" type="ds:StatusEffectiveDateTimeType" minOccurs="0"/>
              <xs:element name="NameCode" type="ds:StatusNameCodeType" minOccurs="0"/>
              <xs:element name="ReleaseDateTime" type="ds:StatusReleaseDateTimeType" minOccurs="0"/>
              <xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType" minOccurs="0"/>
                    <xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType" minOccurs="0"/>
                    <xs:element name="TagID" type="ds:PointerTagIDType" minOccurs="0"/>
                    <xs:element name="Location" type="ds:PointerLocationTextType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="API" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Function" type="ds:APIFunctionCodeType" minOccurs="0"/>
              <xs:element name="FunctionalReferenceID" type="ds:APIFunctionalReferenceIDType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:APITypeCodeType" minOccurs="0"/>
              <xs:element name="VersionID" type="ds:APIVersionIDType" minOccurs="0"/>
              <xs:element name="BorderTransportMeans" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="JourneyID" type="ds:BorderTransportMeansJourneyIDType" minOccurs="0"/>
                    <xs:element name="Itinerary" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:ItineraryIdentificationIDType" minOccurs="0"/>
                          <xs:element name="SequenceNumeric" type="ds:ItinerarySequenceNumericType" minOccurs="0"/>
                          <xs:element name="ArrivalDateTime" type="ds:ItineraryArrivalDateTimeType" minOccurs="0"/>
                          <xs:element name="DepartureDateTime" type="ds:ItineraryDepartureDateTimeType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ItineraryFunctionCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PersonOnBoard" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:PersonOnBoardSequenceNumericType" minOccurs="0"/>
                          <xs:element name="FamilyName" type="ds:PersonOnBoardFamilyNameTextType" minOccurs="0"/>
                          <xs:element name="GivenName" type="ds:PersonOnBoardGivenNameTextType" minOccurs="0"/>
                          <xs:element name="Designation" type="ds:PersonOnBoardDesignationTextType" minOccurs="0"/>
                          <xs:element name="NationalityCode" type="ds:PersonOnBoardNationalityCodeType" minOccurs="0"/>
                          <xs:element name="BirthDateTime" type="ds:PersonOnBoardBirthDateTimeType" minOccurs="0"/>
                          <xs:element name="BirthPlace" type="ds:PersonOnBoardBirthPlaceTextType" minOccurs="0"/>
                          <xs:element name="GenderCode" type="ds:PersonOnBoardGenderCodeType" minOccurs="0"/>
                          <xs:element name="ResidenceCountryCode" type="ds:PersonOnBoardResidenceCountryCodeType" minOccurs="0"/>
                          <xs:element name="StatusCode" type="ds:PersonOnBoardStatusCodeType" minOccurs="0"/>
                          <xs:element name="InformationVerifiedIndicator" type="ds:PersonOnBoardInformationVerifiedIndicatorType" minOccurs="0"/>
                          <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                                <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                                <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                                <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                                <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                                <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
                                <xs:element name="IssueDateTime" type="ds:AdditionalDocumentIssueDateTimeType" minOccurs="0"/>
                                <xs:element name="IssueLocationName" type="ds:AdditionalDocumentIssueLocationNameTextType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TravelDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ExpirationDateTime" type="ds:TravelDocumentExpirationDateTimeType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:TravelDocumentIdentificationIDType" minOccurs="0"/>
                                <xs:element name="issueLocationID" type="ds:TravelDocumentIssueLocationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:TravelDocumentTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DisembarkationPlace" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:DisembarkationPlaceIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EmbarkationPlace" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:EmbarkationPlaceIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Reservation" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PNRID" type="ds:ReservationPNRIDType" minOccurs="0"/>
                                <xs:element name="SeatID" type="ds:ReservationSeatIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Effects" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SequenceNumeric" type="ds:EffectsSequenceNumericType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:EffectsIdentificationIDType" minOccurs="0"/>
                                <xs:element name="Description" type="ds:EffectsDescriptionTextType" minOccurs="0"/>
                                <xs:element name="QuantityQuantity" type="ds:EffectsQuantityQuantityType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TotalPersons" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:TotalPersonsTypeCodeType" minOccurs="0"/>
                          <xs:element name="QuantityQuantity" type="ds:TotalPersonsQuantityQuantityType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Carrier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CarrierIdentificationIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Declarant" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:DeclarantIdentificationIDType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
