API_MetaData_1p0-unnoted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:API_MetaData:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ds="urn:wco:datamodel:WCO:API_MetaData_DS:1"
    targetNamespace="urn:wco:datamodel:WCO:API_MetaData:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:wco:datamodel:WCO:API_MetaData_DS:1" schemaLocation="API_MetaData_1p0_urn_wco_datamodel_WCO_API_MetaData_DS_1.xsd"/>
  <xs:element name="MetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponsibleAgencyCode" type="ds:MetaDataResponsibleAgencyCodeType" minOccurs="0"/>
        <xs:element name="AgencyAssignedCustomizationCode" type="ds:MetaDataAgencyAssignedCustomizationCodeType" minOccurs="0"/>
        <xs:element name="CommunicationMetaData" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ApplicationReferenceID" type="ds:CommunicationMetaDataApplicationReferenceIDType" minOccurs="0"/>
              <xs:element name="PreparationDateTime" type="ds:CommunicationMetaDataPreparationDateTimeType" minOccurs="0"/>
              <xs:element name="SyntaxIdentificationCode" type="ds:CommunicationMetaDataSyntaxIdentificationCodeType" minOccurs="0"/>
              <xs:element name="SyntaxVersionCode" type="ds:CommunicationMetaDataSyntaxVersionCodeType" minOccurs="0"/>
              <xs:element name="Recipient" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:RecipientIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:RecipientIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sender" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:SenderIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:SenderIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="API" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Function" type="ds:APIFunctionCodeType" minOccurs="0"/>
              <xs:element name="FunctionalReferenceID" type="ds:APIFunctionalReferenceIDType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:APITypeCodeType" minOccurs="0"/>
              <xs:element name="VersionID" type="ds:APIVersionIDType" minOccurs="0"/>
              <xs:element name="BorderTransportMeans" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="JourneyID" type="ds:BorderTransportMeansJourneyIDType" minOccurs="0"/>
                    <xs:element name="Itinerary" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:ItineraryIdentificationIDType" minOccurs="0"/>
                          <xs:element name="SequenceNumeric" type="ds:ItinerarySequenceNumericType" minOccurs="0"/>
                          <xs:element name="ArrivalDateTime" type="ds:ItineraryArrivalDateTimeType" minOccurs="0"/>
                          <xs:element name="DepartureDateTime" type="ds:ItineraryDepartureDateTimeType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ItineraryFunctionCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PersonOnBoard" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:PersonOnBoardSequenceNumericType" minOccurs="0"/>
                          <xs:element name="FamilyName" type="ds:PersonOnBoardFamilyNameTextType" minOccurs="0"/>
                          <xs:element name="GivenName" type="ds:PersonOnBoardGivenNameTextType" minOccurs="0"/>
                          <xs:element name="Designation" type="ds:PersonOnBoardDesignationTextType" minOccurs="0"/>
                          <xs:element name="NationalityCode" type="ds:PersonOnBoardNationalityCodeType" minOccurs="0"/>
                          <xs:element name="BirthDateTime" type="ds:PersonOnBoardBirthDateTimeType" minOccurs="0"/>
                          <xs:element name="BirthPlace" type="ds:PersonOnBoardBirthPlaceTextType" minOccurs="0"/>
                          <xs:element name="GenderCode" type="ds:PersonOnBoardGenderCodeType" minOccurs="0"/>
                          <xs:element name="ResidenceCountryCode" type="ds:PersonOnBoardResidenceCountryCodeType" minOccurs="0"/>
                          <xs:element name="StatusCode" type="ds:PersonOnBoardStatusCodeType" minOccurs="0"/>
                          <xs:element name="InformationVerifiedIndicator" type="ds:PersonOnBoardInformationVerifiedIndicatorType" minOccurs="0"/>
                          <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                                <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                                <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                                <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                                <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                                <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
                                <xs:element name="IssueDateTime" type="ds:AdditionalDocumentIssueDateTimeType" minOccurs="0"/>
                                <xs:element name="IssueLocationName" type="ds:AdditionalDocumentIssueLocationNameTextType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TravelDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ExpirationDateTime" type="ds:TravelDocumentExpirationDateTimeType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:TravelDocumentIdentificationIDType" minOccurs="0"/>
                                <xs:element name="issueLocationID" type="ds:TravelDocumentIssueLocationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:TravelDocumentTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DisembarkationPlace" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:DisembarkationPlaceIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EmbarkationPlace" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:EmbarkationPlaceIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Reservation" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PNRID" type="ds:ReservationPNRIDType" minOccurs="0"/>
                                <xs:element name="SeatID" type="ds:ReservationSeatIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Effects" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SequenceNumeric" type="ds:EffectsSequenceNumericType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:EffectsIdentificationIDType" minOccurs="0"/>
                                <xs:element name="Description" type="ds:EffectsDescriptionTextType" minOccurs="0"/>
                                <xs:element name="QuantityQuantity" type="ds:EffectsQuantityQuantityType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TotalPersons" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:TotalPersonsTypeCodeType" minOccurs="0"/>
                          <xs:element name="QuantityQuantity" type="ds:TotalPersonsQuantityQuantityType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Carrier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CarrierIdentificationIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Declarant" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:DeclarantIdentificationIDType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
