API_1p0_urn_wco_datamodel_WCO_Response_DS_1-unnoted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="urn:wco:datamodel:WCO:Response_DS:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:clmIANACharacterSetCode="urn:un:unece:uncefact:codelist:standard:IANA:CharacterSetCode:2013-01-08"
    xmlns:clmIANAMIMEMediaType="urn:un:unece:uncefact:codelist:standard:IANA:MIMEMediaType:2013-07-23"
    xmlns:clm63055="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCode:D12B"
    xmlns:clm60133="urn:un:unece:uncefact:codelist:standard:UNECE:CharacterSetEncodingCode:40106"
    targetNamespace="urn:wco:datamodel:WCO:Response_DS:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:IANA:CharacterSetCode:2013-01-08" schemaLocation="API_1p0_urn_un_unece_uncefact_codelist_standard_IANA_CharacterSetCode_2013-01-08.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:IANA:MIMEMediaType:2013-07-23" schemaLocation="API_1p0_urn_un_unece_uncefact_codelist_standard_IANA_MIMEMediaType_2013-07-23.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCode:D12B" schemaLocation="API_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_AgencyIdentificationCode_D12B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:CharacterSetEncodingCode:40106" schemaLocation="API_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_CharacterSetEncodingCode_40106.xsd"/>
  <xs:complexType name="AdditionalDocumentCategoryCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentEffectiveDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentExpirationDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentFunctionalReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentIssueDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentIssueLocationNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalDocumentLanguageCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalDocumentLanguageCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalDocumentLanguageCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalDocumentStatusCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalDocumentStatusCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalDocumentStatusCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalDocumentTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalDocumentTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalDocumentTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentVersionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalIdentifierIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="required"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="required"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalIdentifierIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalIdentifierIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalIdentifierIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalIdentifierSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AdditionalInformationLimitDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationStatementCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationStatementDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalInformationStatementTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalInformationStatementTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalInformationStatementTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCityNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCountryNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressCountrySubDivisionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressCountrySubDivisionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressCountrySubDivisionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCountrySubDivisionNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressLineTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressPostcodeIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressPostOfficeBoxIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressStreetNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressStreetNumberAdditionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressStreetNumberNumericType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="AddressTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AmendmentChangeReasonCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="APIFunctionalReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="APIFunctionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="APIFunctionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:APIFunctionCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="APITypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="APITypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:APITypeCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="APIVersionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AppealOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ApplicantIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ApplicantIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ApplicantIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ApplicantIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ApplicantNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ApplicantRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ApplicantRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ApplicantRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthenticatorIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AuthenticatorIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AuthenticatorIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AuthenticatorIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthenticatorNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AuthenticatorRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AuthenticatorRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AuthenticatorRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BankAccountIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BankReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileAccessTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileAuthorNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileCharacterSetCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileEncodingCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileFileNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileHashCodeAlgorithmIDCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileHashCodeTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileIncludedBinaryObjectBinaryObjectType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="format" type="xs:string" use="optional"/>
        <xs:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional"/>
        <xs:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional"/>
        <xs:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="optional"/>
        <xs:attribute name="uri" type="xs:anyURI" use="optional"/>
        <xs:attribute name="filename" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileMIMECodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileSizeMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileTitleTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileURIIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileVersionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BorderingOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BorderTransportMeansJourneyIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CarrierIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommunicationIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CommunicationTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="CommunicationTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:CommunicationTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ContactFunctionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ContactFunctionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ContactFunctionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ControlInspectionEndDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ControlInspectionStartDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ControlLimitDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ControlResultExaminationImageBinaryObjectType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="format" type="xs:string" use="optional"/>
        <xs:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional"/>
        <xs:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional"/>
        <xs:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="optional"/>
        <xs:attribute name="uri" type="xs:anyURI" use="optional"/>
        <xs:attribute name="filename" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ControlResultIdentificationCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ControlTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CounterpartNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeclarantIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeclarantNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DisembarkationPlaceIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EffectsDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EffectsIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EffectsQuantityQuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="EffectsSequenceNumericType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="EmbarkationPlaceIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorValidationCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="InsuranceCompanyIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="InsuranceCompanyIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="InsuranceCompanyIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:InsuranceCompanyIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="InsuranceCompanyNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="InsuranceCompanyRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="InsuranceCompanyRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:InsuranceCompanyRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ItineraryArrivalDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ItineraryDepartureDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ItineraryFunctionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ItineraryFunctionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ItineraryFunctionCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ItineraryIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ItinerarySequenceNumericType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="MasterDataOfficeCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="MasterDataOfficeCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:MasterDataOfficeCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MasterDataOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MasterDataOfficeNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MasterDataOfficeValidityEndDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="MasterDataOfficeValidityStartDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="MasterDataPartyBusinessTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MasterDataPartyIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MasterDataPartyIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="MasterDataPartyIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:MasterDataPartyIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MasterDataPartyNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MasterDataPartyRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="MasterDataPartyRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:MasterDataPartyRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MasterDataPartyShortNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MasterDataRecipientIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MasterDataRecipientTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="MasterDataRecipientTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:MasterDataRecipientTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MasterDataSenderIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MasterDataSenderTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="MasterDataSenderTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:MasterDataSenderTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PaymentOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonOnBoardBirthDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PersonOnBoardBirthPlaceTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonOnBoardDesignationTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonOnBoardFamilyNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PersonOnBoardGenderCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PersonOnBoardGenderCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:PersonOnBoardGenderCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonOnBoardGivenNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonOnBoardInformationVerifiedIndicatorType">
    <xs:choice>
      <xs:element name="IndicatorString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string"/>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Indicator" type="xs:boolean"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PersonOnBoardNationalityCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PersonOnBoardNationalityCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:PersonOnBoardNationalityCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PersonOnBoardResidenceCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PersonOnBoardResidenceCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:PersonOnBoardResidenceCountryCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PersonOnBoardSequenceNumericType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="PersonOnBoardStatusCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PersonOnBoardStatusCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:PersonOnBoardStatusCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PointerDocumentSectionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PointerDocumentSectionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:PointerDocumentSectionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PointerLocationTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PointerSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PointerTagIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReleaseOfficeActualIndicatorType">
    <xs:choice>
      <xs:element name="IndicatorString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string"/>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Indicator" type="xs:boolean"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReleaseOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReservationPNRIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ReservationSeatIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResponseFunctionalReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ResponseFunctionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ResponseFunctionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ResponseFunctionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResponseIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResponseIssueDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ResponseLanguageCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ResponseLanguageCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ResponseLanguageCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ResponseReplyTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ResponseReplyTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ResponseReplyTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ResponseTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ResponseTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ResponseTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResponseVersionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RoleSpecificationCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StatusEffectiveDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="StatusNameCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="StatusNameCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:StatusNameCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StatusReleaseDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SubmitterIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SubmitterIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="SubmitterIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:SubmitterIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SubmitterNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SubmitterRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="SubmitterRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:SubmitterRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TotalPersonsQuantityQuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TotalPersonsTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="TotalPersonsTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:TotalPersonsTypeCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TravelDocumentExpirationDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TravelDocumentIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TravelDocumentIssueLocationIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TravelDocumentTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="TravelDocumentTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:TravelDocumentTypeCodeContentType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WarehouseIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="WarehouseRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="WarehouseRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:WarehouseRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="WarehouseTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="WarehouseTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:WarehouseTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
