eATA_1p0-unnoted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:eATA:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ds="urn:wco:datamodel:WCO:eATA_DS:1"
    targetNamespace="urn:wco:datamodel:WCO:eATA:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:wco:datamodel:WCO:eATA_DS:1" schemaLocation="eATA_1p0_urn_wco_datamodel_WCO_eATA_DS_1.xsd"/>
  <xs:element name="LPCO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AcceptanceDateTime" type="ds:LPCOAcceptanceDateTimeType" minOccurs="0"/>
        <xs:element name="ExpirationDateTime" type="ds:LPCOExpirationDateTimeType" minOccurs="0"/>
        <xs:element name="ID" type="ds:LPCOIdentificationIDType" minOccurs="0"/>
        <xs:element name="IssueDateTime" type="ds:LPCOIssueDateTimeType" minOccurs="0"/>
        <xs:element name="RejectionDateTime" type="ds:LPCORejectionDateTimeType" minOccurs="0"/>
        <xs:element name="TypeCode" type="ds:LPCOTypeCodeType" minOccurs="0"/>
        <xs:element name="DeclarationOfficeID" type="ds:LPCODeclarationOfficeIDType" minOccurs="0"/>
        <xs:element name="DeclarationOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:DeclarationOfficeIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
              <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
              <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AuthorisedPerson" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:AuthorisedPersonNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:AuthorisedPersonIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:AuthorisedPersonRoleCodeType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Consignment" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SequenceNumeric" type="ds:ConsignmentSequenceNumericType" minOccurs="0"/>
              <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
                    <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                    <xs:element name="LimitDateTime" type="ds:AdditionalInformationLimitDateTimeType" minOccurs="0"/>
                    <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BorderTransportMeans" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:BorderTransportMeansNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:BorderTransportMeansIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:BorderTransportMeansTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ConsignmentItem" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:ConsignmentItemSequenceNumericType" minOccurs="0"/>
                    <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
                          <xs:element name="BinaryFile" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:BinaryFileIdentificationIDType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Title" type="ds:BinaryFileTitleTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="AuthorName" type="ds:BinaryFileAuthorNameTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="VersionID" type="ds:BinaryFileVersionIDType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="FileNametext" type="ds:BinaryFileFileNameTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="URIID" type="ds:BinaryFileURIIDType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="MIMECode" type="ds:BinaryFileMIMECodeType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="EncodingCode" type="ds:BinaryFileEncodingCodeType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="CharacterSetCode" type="ds:BinaryFileCharacterSetCodeType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="IncludedBinaryObjectBinaryObject" type="ds:BinaryFileIncludedBinaryObjectBinaryObjectType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Access" type="ds:BinaryFileAccessTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Description" type="ds:BinaryFileDescriptionTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="SizeMeasure" type="ds:BinaryFileSizeMeasureType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="TypeCode" type="ds:BinaryFileTypeCodeType" minOccurs="0"/>
                                <xs:element name="HashCode" type="ds:BinaryFileHashCodeTextType" minOccurs="0"/>
                                <xs:element name="HashCodeAlgorithmIDCode" type="ds:BinaryFileHashCodeAlgorithmIDCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Commodity" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:CommoditySequenceNumericType" minOccurs="0"/>
                          <xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="0"/>
                          <xs:element name="ValueAmount" type="ds:CommodityValueAmountType" minOccurs="0"/>
                          <xs:element name="CountQuantity" type="ds:CommodityCountQuantityType" minOccurs="0"/>
                          <xs:element name="IntendedUse" type="ds:CommodityIntendedUseTextType" minOccurs="0"/>
                          <xs:element name="IntendedUseCode" type="ds:CommodityIntendedUseCodeType" minOccurs="0"/>
                          <xs:element name="Classification" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:ClassificationIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType" minOccurs="0"/>
                          <xs:element name="NetVolumeMeasure" type="ds:GoodsMeasureNetVolumeMeasureType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Origin" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CountryCode" type="ds:OriginCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Packaging" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:PackagingSequenceNumericType" minOccurs="0"/>
                          <xs:element name="MarksNumbersID" type="ds:PackagingMarksNumbersIDType" minOccurs="0"/>
                          <xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:PackagingTypeCodeType" minOccurs="0"/>
                          <xs:element name="PackingMaterialDescription" type="ds:PackagingPackingMaterialDescriptionTextType" minOccurs="0"/>
                          <xs:element name="LengthMeasure" type="ds:PackagingLengthMeasureType" minOccurs="0"/>
                          <xs:element name="WidthMeasure" type="ds:PackagingWidthMeasureType" minOccurs="0"/>
                          <xs:element name="HeightMeasure" type="ds:PackagingHeightMeasureType" minOccurs="0"/>
                          <xs:element name="VolumeMeasure" type="ds:PackagingVolumeMeasureType" minOccurs="0"/>
                          <xs:element name="DiameterMeasure" type="ds:PackagingDiameterMeasureType" minOccurs="0"/>
                          <xs:element name="GrossWeightMeasure" type="ds:PackagingGrossWeightMeasureType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:TransportEquipmentSequenceNumericType" minOccurs="0"/>
                          <xs:element name="Seal" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SequenceNumeric" type="ds:SealSequenceNumericType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:SealIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GoodsLocation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:GoodsLocationIdentificationIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GovernmentProcedure" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType" minOccurs="0"/>
                    <xs:element name="PreviousCode" type="ds:GovernmentProcedurePreviousCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:TransportEquipmentSequenceNumericType" minOccurs="0"/>
                    <xs:element name="Seal" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:SealSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:SealIdentificationIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LPCOAuthorizedParty" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:LPCOAuthorizedPartyNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:LPCOAuthorizedPartyIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:LPCOAuthorizedPartyRoleCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RepresentativePerson" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:RepresentativePersonNameTextType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:RepresentativePersonRoleCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
