ePhyto_1p0_urn_wco_datamodel_WCO_LPCO_ePhyto_DS_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="urn:wco:datamodel:WCO:LPCO:ePhyto_DS:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:clm63055="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCode:D12B"
    targetNamespace="urn:wco:datamodel:WCO:LPCO:ePhyto_DS:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCode:D12B" schemaLocation="ePhyto_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_AgencyIdentificationCode_D12B.xsd"/>
  <xs:complexType name="AdditionalDocumentCategoryCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentEffectiveDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalDocumentTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalDocumentTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalDocumentTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationContentTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationStatementCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationStatementDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalInformationStatementTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalInformationStatementTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalInformationStatementTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCityNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressCountrySubDivisionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressCountrySubDivisionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressCountrySubDivisionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressLineTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressPostcodeIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrivalLocationIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthenticationActualDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AuthenticationActualLocationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthenticationLocationNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthenticatorNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthorisedPersonNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BorderTransportMeansJourneyIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="BorderTransportMeansModeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="BorderTransportMeansModeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:BorderTransportMeansModeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ClassificationIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ClassificationIdentificationTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ClassificationIdentificationTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ClassificationIdentificationTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityCargoDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityIntendedUseCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityIntendedUseTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConsigneeNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConsignorNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ControlInspectionEndDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="GoodsConsignedPlaceIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GoodsMeasureGrossMassMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GoodsMeasureNetNetWeightMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GoodsMeasureNetVolumeMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LPCOIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="LPCOTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="LPCOTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:LPCOTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="OriginCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="OriginCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:OriginCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OriginRegionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PackagingMarksNumbersIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PackagingQuantityQuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProcessActualTemperatureMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProcessDurationDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ProcessInspectionStartDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ProcessTypeIdentificationCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ProcessTypeIdentificationCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ProcessTypeIdentificationCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ProductIdentifierTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ProductIdentifierTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ProductIdentifierTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProductNameDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ProductNameQualifierCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ProductNameQualifierCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ProductNameQualifierCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
