IMO.Declaration_0p90-unnoted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:IMO.Declaration:0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ds="urn:wco:datamodel:WCO:IMO.OverallDeclaration_DS:0"
    targetNamespace="urn:wco:datamodel:WCO:IMO.Declaration:0"
    elementFormDefault="qualified">
  <xs:import namespace="urn:wco:datamodel:WCO:IMO.OverallDeclaration_DS:0" schemaLocation="IMO.Declaration_0p90_urn_wco_datamodel_WCO_IMO_OverallDeclaration_DS_0.xsd"/>
  <xs:element name="MetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CommunicationMetaData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ApplicationReferenceID" type="ds:CommunicationMetaDataApplicationReferenceIDType"/>
              <xs:element name="CommunicationsAgreementID" type="ds:CommunicationMetaDataCommunicationsAgreementIDType" minOccurs="0"/>
              <xs:element name="PreparationDateTime" type="ds:CommunicationMetaDataPreparationDateTimeType"/>
              <xs:element name="Recipient">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:RecipientIdentificationIDType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sender">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:SenderIdentificationIDType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Declaration" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Function" type="ds:DeclarationFunctionCodeType"/>
              <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType"/>
              <xs:element name="Authentication" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ActualDateTime" type="ds:AuthenticationActualDateTimeType" minOccurs="0"/>
                    <xs:element name="ActualLocationID" type="ds:AuthenticationActualLocationIDType" minOccurs="0"/>
                    <xs:element name="Authenticator" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:AuthenticatorNameTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AuthenticatorIdentificationIDType" minOccurs="0"/>
                          <xs:element name="RoleCode" type="ds:AuthenticatorRoleCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalDocument" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IssueDateTime" type="ds:AdditionalDocumentIssueDateTimeType" minOccurs="0"/>
                    <xs:element name="issueLocationID" type="ds:AdditionalDocumentIssueLocationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IssueLocationName" type="ds:AdditionalDocumentIssueLocationNameTextType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
                    <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                    <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Agent" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:AgentNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AgentIdentificationIDType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BorderTransportMeans" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:BorderTransportMeansNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:BorderTransportMeansIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:BorderTransportMeansTypeCodeType" minOccurs="0"/>
                    <xs:element name="RegistrationNationalityCode" type="ds:BorderTransportMeansRegistrationNationalityCodeType" minOccurs="0"/>
                    <xs:element name="CrewQuantity" type="ds:BorderTransportMeansCrewQuantityType" minOccurs="0"/>
                    <xs:element name="GrossWeightMeasure" type="ds:BorderTransportMeansGrossWeightMeasureType" minOccurs="0"/>
                    <xs:element name="JourneyID" type="ds:BorderTransportMeansJourneyIDType" minOccurs="0"/>
                    <xs:element name="NetWeightMeasure" type="ds:BorderTransportMeansNetWeightMeasureType" minOccurs="0"/>
                    <xs:element name="PassengerQuantity" type="ds:BorderTransportMeansPassengerQuantityType" minOccurs="0"/>
                    <xs:element name="StayID" type="ds:BorderTransportMeansStayIDType" minOccurs="0"/>
                    <xs:element name="SecurityLevelCode" type="ds:BorderTransportMeansSecurityLevelCodeType" minOccurs="0"/>
                    <xs:element name="CargoDescription" type="ds:BorderTransportMeansCargoDescriptionTextType" minOccurs="0"/>
                    <xs:element name="DPGListIndicator" type="ds:BorderTransportMeansDPGListIndicatorType" minOccurs="0"/>
                    <xs:element name="SecurityPlanApprovedIndicator" type="ds:BorderTransportMeansSecurityPlanApprovedIndicatorType" minOccurs="0"/>
                    <xs:element name="ArrivalConveyanceFacility" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ArrivalConveyanceFacilityNameTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:ArrivalConveyanceFacilityIdentificationIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ArrivalLocation" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ArrivalLocationNameTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:ArrivalLocationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="ActualIndicator" type="ds:ArrivalLocationActualIndicatorType"/>
                          <xs:element name="ArrivalDateTime" type="ds:ArrivalLocationArrivalDateTimeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CallPurpose" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NameCode" type="ds:CallPurposeDescriptionCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DepartureLocation" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:DepartureLocationNameTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:DepartureLocationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="DepartureDateTime" type="ds:DepartureLocationDepartureDateTimeType" minOccurs="0"/>
                          <xs:element name="ActualIndicator" type="ds:DepartureLocationActualIndicatorType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IMOCompany" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:IMOCompanyNameTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:IMOCompanyIdentificationIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Itinerary" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ItineraryNameTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:ItineraryIdentificationIDType" minOccurs="0"/>
                          <xs:element name="SequenceNumeric" type="ds:ItinerarySequenceNumericType" minOccurs="0"/>
                          <xs:element name="SecurityLevelCode" type="ds:ItinerarySecurityLevelCodeType" minOccurs="0"/>
                          <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
                                <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                                <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DepartureConveyanceFacility" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:DepartureConveyanceFacilityNameTextType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:DepartureConveyanceFacilityIdentificationIDType" minOccurs="0"/>
                                <xs:element name="ArrivalDateTime" type="ds:DepartureConveyanceFacilityArrivalDateTimeType" minOccurs="0"/>
                                <xs:element name="DepartureDateTime" type="ds:DepartureConveyanceFacilityDepartureDateTimeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Master" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:MasterNameTextType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PersonOnBoard" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:PersonOnBoardSequenceNumericType" minOccurs="0"/>
                          <xs:element name="FamilyName" type="ds:PersonOnBoardFamilyNameTextType" minOccurs="0"/>
                          <xs:element name="GivenName" type="ds:PersonOnBoardGivenNameTextType" minOccurs="0"/>
                          <xs:element name="Designation" type="ds:PersonOnBoardDesignationTextType" minOccurs="0"/>
                          <xs:element name="JobTitleCode" type="ds:PersonOnBoardJobTitleCodeType" minOccurs="0"/>
                          <xs:element name="NationalityCode" type="ds:PersonOnBoardNationalityCodeType" minOccurs="0"/>
                          <xs:element name="BirthDateTime" type="ds:PersonOnBoardBirthDateTimeType" minOccurs="0"/>
                          <xs:element name="BirthPlace" type="ds:PersonOnBoardBirthPlaceTextType" minOccurs="0"/>
                          <xs:element name="BirthCountryCode" type="ds:PersonOnBoardBirthCountryCodeType" minOccurs="0"/>
                          <xs:element name="GenderCode" type="ds:PersonOnBoardGenderCodeType" minOccurs="0"/>
                          <xs:element name="StatusCode" type="ds:PersonOnBoardStatusCodeType" minOccurs="0"/>
                          <xs:element name="TransitCode" type="ds:PersonOnBoardTransitCodeType" minOccurs="0"/>
                          <xs:element name="TravelDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ExpirationDateTime" type="ds:TravelDocumentExpirationDateTimeType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:TravelDocumentIdentificationIDType" minOccurs="0"/>
                                <xs:element name="issueLocationID" type="ds:TravelDocumentIssueLocationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:TravelDocumentTypeCodeType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DisembarkationPlace" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:DisembarkationPlaceNameTextType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:DisembarkationPlaceIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EmbarkationPlace" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:EmbarkationPlaceNameTextType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:EmbarkationPlaceIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Effects" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SequenceNumeric" type="ds:EffectsSequenceNumericType" minOccurs="0"/>
                                <xs:element name="Description" type="ds:EffectsDescriptionTextType" minOccurs="0"/>
                                <xs:element name="DescriptionTypeCode" type="ds:EffectsDescriptionTypeCodeType" minOccurs="0"/>
                                <xs:element name="QuantityQuantity" type="ds:EffectsQuantityQuantityType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Security" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AdditionalInformation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
                                <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                                <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="AdditionalDocument" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ExpirationDateTime" type="ds:AdditionalDocumentExpirationDateTimeType" minOccurs="0"/>
                                <xs:element name="issueLocationID" type="ds:AdditionalDocumentIssueLocationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType"/>
                                <xs:element name="VerificationIndicator" type="ds:AdditionalDocumentVerificationIndicatorType" minOccurs="0"/>
                                <xs:element name="IssuerName" type="ds:AdditionalDocumentIssuerNameTextType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="StoresItem" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:StoresItemSequenceNumericType" minOccurs="0"/>
                          <xs:element name="Commodity" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Classification" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ID" type="ds:ClassificationIdentificationIDType" minOccurs="0"/>
                                      <xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType"/>
                                      <xs:element name="Description" type="ds:ClassificationDescriptionTextType" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="GoodsMeasure" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="GoodsLocation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ShipToShipActivity" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:ShipToShipActivitySequenceNumericType" minOccurs="0"/>
                          <xs:element name="Description" type="ds:ShipToShipActivityDescriptionTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:ShipToShipActivityIdentificationCodeType" minOccurs="0"/>
                          <xs:element name="StartDateTime" type="ds:ShipToShipActivityStartDateTimeType" minOccurs="0"/>
                          <xs:element name="EndDateTime" type="ds:ShipToShipActivityEndDateTimeType" minOccurs="0"/>
                          <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
                                <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                                <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ShipToShipActivityLocation" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:ShipToShipActivityLocationNameTextType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:ShipToShipActivityLocationIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ShipToShipActivityLocation" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LatitudeMeasure" type="ds:ShipToShipActivityLocationLatitudeMeasureType" minOccurs="0"/>
                          <xs:element name="LongitudeMeasure" type="ds:ShipToShipActivityLocationLongitudeMeasureType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TotalPersons" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="QuantityQuantity" type="ds:TotalPersonsQuantityQuantityType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:TransportEquipmentIdentificationIDType" minOccurs="0"/>
                          <xs:element name="StowPosition" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:StowPositionIdentificationIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Waste" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LastDeliveryDateTime" type="ds:WasteLastDeliveryDateTimeType" minOccurs="0"/>
                          <xs:element name="AllDeliveryIndicator" type="ds:WasteAllDeliveryIndicatorType" minOccurs="0"/>
                          <xs:element name="WasteDeliveryPort" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:WasteDeliveryPortNameTextType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:WasteDeliveryPortIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:WasteDeliveryPortTypeCodeType"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="WasteItem" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="WasteTypeCode" type="ds:WasteItemWasteTypeCodeType" minOccurs="0"/>
                                <xs:element name="WasteGeneratedMeasure" type="ds:WasteItemWasteGeneratedMeasureType" minOccurs="0"/>
                                <xs:element name="MaximumStorageCapacityMeasure" type="ds:WasteItemMaximumStorageCapacityMeasureType" minOccurs="0"/>
                                <xs:element name="RetainedWasteMeasure" type="ds:WasteItemRetainedWasteMeasureType" minOccurs="0"/>
                                <xs:element name="PlannedDeliveryWasteMeasure" type="ds:WasteItemPlannedDeliveryWasteMeasureType" minOccurs="0"/>
                                <xs:element name="Commodity" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="WasteDeliveryPort" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Name" type="ds:WasteDeliveryPortNameTextType" minOccurs="0"/>
                                      <xs:element name="ID" type="ds:WasteDeliveryPortIdentificationIDType" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Contact" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CompanySecurityOfficer" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:CompanySecurityOfficerNameTextType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Consignment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AdditionalInformation" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                          <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ConsignmentItem" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Commodity" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CommercialCategorizationID" type="ds:CommodityCommercialCategorizationIDType" minOccurs="0"/>
                                <xs:element name="CargoDescription" type="ds:CommodityCargoDescriptionTextType" minOccurs="0"/>
                                <xs:element name="IdentityQualifierCode" type="ds:CommodityIdentityQualifierCodeType" minOccurs="0"/>
                                <xs:element name="CommodityRelatedPackaging" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="DangerousGoodsPackingRequirementGroupCode" type="ds:CommodityRelatedPackagingDangerousGoodsPackingRequirementGroupCodeType" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Classification" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ID" type="ds:ClassificationIdentificationIDType" minOccurs="0"/>
                                      <xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DangerousGoods" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="RegulationCode" type="ds:DangerousGoodsRegulationCodeType" minOccurs="0"/>
                                      <xs:element name="UNDGID" type="ds:DangerousGoodsUNDGIDType" minOccurs="0"/>
                                      <xs:element name="FlashpointMeasure" type="ds:DangerousGoodsFlashpointMeasureType" minOccurs="0"/>
                                      <xs:element name="HazardClassID" type="ds:DangerousGoodsHazardClassIDType" minOccurs="0"/>
                                      <xs:element name="ProperShippingName" type="ds:DangerousGoodsProperShippingNameTextType" minOccurs="0"/>
                                      <xs:element name="PollutantTypeCode" type="ds:DangerousGoodsPollutantTypeCodeType" minOccurs="0"/>
                                      <xs:element name="TechnicalName" type="ds:DangerousGoodsTechnicalNameTextType" minOccurs="0"/>
                                      <xs:element name="AdditionalInformation" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                                            <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="EmergencySchedule" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="DangerousGoodsNumberID" type="ds:EmergencyScheduleDangerousGoodsNumberIDType" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Packaging" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="0"/>
                                            <xs:element name="TypeCode" type="ds:PackagingTypeCodeType" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="GoodsMeasure" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType" minOccurs="0"/>
                                            <xs:element name="NetVolumeMeasure" type="ds:GoodsMeasureNetVolumeMeasureType" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="SubsidiaryRisks" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="ID" type="ds:SubsidiaryRisksIdentificationCodeType" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="GoodsMeasure" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType" minOccurs="0"/>
                                      <xs:element name="GrossVolumeMeasure" type="ds:GoodsMeasureGrossVolumeMeasureType" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Packaging" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="MarksNumbersID" type="ds:PackagingMarksNumbersIDType" minOccurs="0"/>
                                <xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:PackagingTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:TransportEquipmentIdentificationIDType" minOccurs="0"/>
                                <xs:element name="StowPosition" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ID" type="ds:StowPositionIdentificationIDType" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LoadingLocation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:LoadingLocationNameTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:LoadingLocationIdentificationIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TransportContractDocument" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:TransportContractDocumentIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:TransportContractDocumentTypeCodeType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UnloadingLocation" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:UnloadingLocationNameTextType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:UnloadingLocationIdentificationIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
