OIE_Certificate_1p0_urn_wco_datamodel_WCO_OIE_Certificate_DS_1-unnoted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="urn:wco:datamodel:WCO:OIE_Certificate_DS:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:clm63055="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCode:D12B"
    targetNamespace="urn:wco:datamodel:WCO:OIE_Certificate_DS:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCode:D12B" schemaLocation="OIE_Certificate_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_AgencyIdentificationCode_D12B.xsd"/>
  <xs:complexType name="AdditionalDocumentIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalDocumentTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalDocumentTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalDocumentTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationStatementCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationStatementDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalInformationStatementTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalInformationStatementTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalInformationStatementTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCityNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCountryNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressCountrySubDivisionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressCountrySubDivisionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressCountrySubDivisionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCountrySubDivisionNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressLineTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressPostcodeIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ApprovedEstablishmentPlaceIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthenticationActualDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AuthenticationAuthenticationTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthorisedPersonIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthorisedPersonNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AuthorisedPersonRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AuthorisedPersonRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AuthorisedPersonRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CertifierIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CertifierNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CertifierRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="CertifierRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:CertifierRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ClassificationIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ClassificationIdentificationTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ClassificationIdentificationTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ClassificationIdentificationTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CommodityCategoryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="CommodityCategoryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:CommodityCategoryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CommodityCategoryQualifierCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="CommodityCategoryQualifierCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:CommodityCategoryQualifierCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityCountQuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityIntendedUseCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityIntendedUseTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityLotNumberIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CommoditySequenceNumericType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="ConsigneeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConsigneeNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ConsigneeRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ConsigneeRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ConsigneeRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ConsignmentItemSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConsignmentSequenceNumericType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="ConsignmentTotalPackageQuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConsignorIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConsignorNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ConsignorRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ConsignorRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ConsignorRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DepartureTransportMeansIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DepartureTransportMeansNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DepartureTransportMeansTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="DepartureTransportMeansTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:DepartureTransportMeansTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DestinationCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="DestinationCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:DestinationCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DestinationCountryNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DestinationRegionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ExitOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GoodsConsignedPlaceIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GoodsMeasureNetNetWeightMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="GovernmentProcedureCurrentCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="GovernmentProcedureCurrentCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:GovernmentProcedureCurrentCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LPCOIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LPCOIssueDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="OriginCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="OriginCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:OriginCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OriginCountryNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OriginRegionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PackagingQuantityQuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PackagingTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PackagingTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:PackagingTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProductCharacteristicsDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ProductCharacteristicsQualifierCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ProductCharacteristicsQualifierCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ProductCharacteristicsQualifierCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProductCharacteristicsTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ProductIdentifierTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ProductIdentifierTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ProductIdentifierTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ProductNameDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ProductNameQualifierCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ProductNameQualifierCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ProductNameQualifierCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SealIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SealSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TemperatureActualMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TemperatureCategoryCodeContentType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="31"/>
      <xs:enumeration value="49"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TemperatureCategoryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:TemperatureCategoryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TransportEquipmentIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TransportEquipmentSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="WarehouseDepartureDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>
