Response_1p0_urn_wco_datamodel_WCO_Response_DS_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="urn:wco:datamodel:WCO:Response_DS:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:clmIANACharacterSetCode="urn:un:unece:uncefact:codelist:standard:IANA:CharacterSetCode:2013-01-08"
    xmlns:clmIANAMIMEMediaType="urn:un:unece:uncefact:codelist:standard:IANA:MIMEMediaType:2013-07-23"
    xmlns:clm5ISO42173A="urn:un:unece:uncefact:codelist:standard:ISO:ISO3AlphaCurrencyCode:2012-08-31"
    xmlns:clm63055="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCode:D12B"
    xmlns:clm60133="urn:un:unece:uncefact:codelist:standard:UNECE:CharacterSetEncodingCode:40106"
    targetNamespace="urn:wco:datamodel:WCO:Response_DS:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:IANA:CharacterSetCode:2013-01-08" schemaLocation="Response_1p0_urn_un_unece_uncefact_codelist_standard_IANA_CharacterSetCode_2013-01-08.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:IANA:MIMEMediaType:2013-07-23" schemaLocation="Response_1p0_urn_un_unece_uncefact_codelist_standard_IANA_MIMEMediaType_2013-07-23.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:ISO:ISO3AlphaCurrencyCode:2012-08-31" schemaLocation="Response_1p0_urn_un_unece_uncefact_codelist_standard_ISO_ISO3AlphaCurrencyCode_2012-08-31.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:AgencyIdentificationCode:D12B" schemaLocation="Response_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_AgencyIdentificationCode_D12B.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:CharacterSetEncodingCode:40106" schemaLocation="Response_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_CharacterSetEncodingCode_40106.xsd"/>
  <xs:complexType name="AdditionalDocumentCategoryCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentFunctionalReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalDocumentTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalDocumentTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalDocumentTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalDocumentVersionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalIdentifierIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="required"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="required"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalIdentifierIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalIdentifierIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalIdentifierIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalIdentifierSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AdditionalInformationLimitDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationStatementCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalInformationStatementDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AdditionalInformationStatementTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AdditionalInformationStatementTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AdditionalInformationStatementTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCityNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCountryNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressCountrySubDivisionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressCountrySubDivisionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressCountrySubDivisionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressCountrySubDivisionNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressLineTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressPostcodeIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressPostOfficeBoxIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressStreetNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AddressStreetNumberAdditionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AddressStreetNumberNumericType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="AddressTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AddressTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AddressTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AmendmentChangeReasonCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AppealOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthenticatorIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AuthenticatorIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AuthenticatorIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AuthenticatorIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AuthenticatorNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="AuthenticatorRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="AuthenticatorRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:AuthenticatorRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BankAccountIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BankReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileAccessTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileAuthorNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileCharacterSetCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileEncodingCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileFileNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileHashCodeAlgorithmIDCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileHashCodeTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileIncludedBinaryObjectBinaryObjectType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="format" type="xs:string" use="optional"/>
        <xs:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional"/>
        <xs:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional"/>
        <xs:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="optional"/>
        <xs:attribute name="uri" type="xs:anyURI" use="optional"/>
        <xs:attribute name="filename" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileMIMECodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileSizeMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileTitleTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileURIIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BinaryFileVersionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ClassificationIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ClassificationIdentificationTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ClassificationIdentificationTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ClassificationIdentificationTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CommodityDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CommoditySequenceNumericType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:complexType name="CommunicationIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="CommunicationTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="CommunicationTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:CommunicationTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ContactFunctionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ContactFunctionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ContactFunctionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ControlInspectionEndDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ControlInspectionStartDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ControlLimitDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ControlResultExaminationImageBinaryObjectType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="format" type="xs:string" use="optional"/>
        <xs:attribute name="mimeCode" type="clmIANAMIMEMediaType:MIMEMediaTypeContentType" use="optional"/>
        <xs:attribute name="encodingCode" type="clm60133:CharacterSetEncodingCodeContentType" use="optional"/>
        <xs:attribute name="characterSetCode" type="clmIANACharacterSetCode:CharacterSetCodeContentType" use="optional"/>
        <xs:attribute name="uri" type="xs:anyURI" use="optional"/>
        <xs:attribute name="filename" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ControlResultIdentificationCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ControlTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CounterpartNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CustomsValuationFreightChargeAmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currencyID" type="clm5ISO42173A:ISO3AlphaCurrencyCodeContentType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeclarationAcceptanceDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DeclarationCancellationDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DeclarationFunctionalReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeclarationIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeclarationInvoiceAmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currencyID" type="clm5ISO42173A:ISO3AlphaCurrencyCodeContentType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeclarationRejectionDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="DeclarationReplyTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="DeclarationReplyTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:DeclarationReplyTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DeclarationTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="DeclarationTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:DeclarationTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DeclarationVersionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DutyTaxFeeDutyRegimeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="DutyTaxFeeDutyRegimeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:DutyTaxFeeDutyRegimeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DutyTaxFeeTaxationDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="DutyTaxFeeTaxRateNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="17"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DutyTaxFeeTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="DutyTaxFeeTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:DutyTaxFeeTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorDescriptionTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorValidationCodeType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GoodsMeasureNetNetWeightMeasureType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="GoodsShipmentSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GovernmentAgencyGoodsItemCustomsValueAmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currencyID" type="clm5ISO42173A:ISO3AlphaCurrencyCodeContentType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="GovernmentAgencyGoodsItemSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InsuranceCompanyIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="InsuranceCompanyIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="InsuranceCompanyIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:InsuranceCompanyIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="InsuranceCompanyNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="InsuranceCompanyRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="InsuranceCompanyRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:InsuranceCompanyRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ObligationGuaranteeReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PackagingQuantityQuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PackagingTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PackagingTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:PackagingTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PaymentDueDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PaymentPaymentAmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currencyID" type="clm5ISO42173A:ISO3AlphaCurrencyCodeContentType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PaymentTaxAssessedAmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currencyID" type="clm5ISO42173A:ISO3AlphaCurrencyCodeContentType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PointerDocumentSectionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="PointerDocumentSectionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:PointerDocumentSectionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PointerLocationTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PointerSequenceNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PointerTagIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="RateAdValoremTaxBaseRateNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="17"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RateTariffClassSpecificationCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="RateTariffClassSpecificationCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:RateTariffClassSpecificationCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="RateTaxRateNumericType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="17"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReleaseOfficeActualIndicatorType">
    <xs:choice>
      <xs:element name="IndicatorString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string"/>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Indicator" type="xs:boolean"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReleaseOfficeIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResponseFunctionalReferenceIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ResponseFunctionCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ResponseFunctionCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ResponseFunctionCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResponseIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResponseIssueDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="ResponseLanguageCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ResponseLanguageCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ResponseLanguageCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ResponseReplyTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ResponseReplyTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ResponseReplyTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ResponseTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="ResponseTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:ResponseTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ResponseVersionIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SpecificTaxBaseRateCurrencyTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="SpecificTaxBaseRateCurrencyTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:SpecificTaxBaseRateCurrencyTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SpecificTaxBaseRateSpecificTaxBaseQuantityType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="unitCode" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StatusEffectiveDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="StatusNameCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="StatusNameCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:StatusNameCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StatusReleaseDateTimeType">
    <xs:choice>
      <xs:element name="DateTimeString">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="formatCode" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SubmitterIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SubmitterIdentificationIssuingCountryCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="SubmitterIdentificationIssuingCountryCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:SubmitterIdentificationIssuingCountryCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SubmitterNameTextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="SubmitterRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="SubmitterRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:SubmitterRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WarehouseIdentificationIDType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="schemeID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="schemeAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="schemeVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="schemeDataURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="schemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="WarehouseRoleCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="WarehouseRoleCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:WarehouseRoleCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="WarehouseTypeCodeContentType">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:complexType name="WarehouseTypeCodeType">
    <xs:simpleContent>
      <xs:extension base="ds:WarehouseTypeCodeContentType">
        <xs:attribute name="listID" type="xs:token" use="optional"/>
        <xs:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional"/>
        <xs:attribute name="listAgencyName" type="xs:string" use="optional"/>
        <xs:attribute name="listName" type="xs:string" use="optional"/>
        <xs:attribute name="listVersionID" type="xs:token" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="languageID" type="xs:string" use="optional"/>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional"/>
        <xs:attribute name="listSchemeURI" type="xs:anyURI" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
