Response_1p0-unnoted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:Response:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ds="urn:wco:datamodel:WCO:Response_DS:1"
    targetNamespace="urn:wco:datamodel:WCO:Response:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:wco:datamodel:WCO:Response_DS:1" schemaLocation="Response_1p0_urn_wco_datamodel_WCO_Response_DS_1.xsd"/>
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Function" type="ds:ResponseFunctionCodeType" minOccurs="0"/>
        <xs:element name="FunctionalReferenceID" type="ds:ResponseFunctionalReferenceIDType" minOccurs="0"/>
        <xs:element name="ID" type="ds:ResponseIdentificationIDType" minOccurs="0"/>
        <xs:element name="IssueDateTime" type="ds:ResponseIssueDateTimeType" minOccurs="0"/>
        <xs:element name="LanguageCode" type="ds:ResponseLanguageCodeType" minOccurs="0"/>
        <xs:element name="TypeCode" type="ds:ResponseTypeCodeType" minOccurs="0"/>
        <xs:element name="VersionID" type="ds:ResponseVersionIDType" minOccurs="0"/>
        <xs:element name="ReplyTypeCode" type="ds:ResponseReplyTypeCodeType" minOccurs="0"/>
        <xs:element name="Authenticator" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:AuthenticatorNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:AuthenticatorIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:AuthenticatorRoleCodeType" minOccurs="0"/>
              <xs:element name="IdentificationIssuingCountryCode" type="ds:AuthenticatorIdentificationIssuingCountryCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                    <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                    <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                    <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                    <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InsuranceCompany" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:InsuranceCompanyNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:InsuranceCompanyIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:InsuranceCompanyRoleCodeType" minOccurs="0"/>
              <xs:element name="IdentificationIssuingCountryCode" type="ds:InsuranceCompanyIdentificationIssuingCountryCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                    <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                    <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                    <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                    <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Submitter" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:SubmitterRoleCodeType" minOccurs="0"/>
              <xs:element name="IdentificationIssuingCountryCode" type="ds:SubmitterIdentificationIssuingCountryCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                    <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                    <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                    <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                    <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType" minOccurs="0"/>
              <xs:element name="FunctionalReferenceID" type="ds:AdditionalDocumentFunctionalReferenceIDType" minOccurs="0"/>
              <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
              <xs:element name="VersionID" type="ds:AdditionalDocumentVersionIDType" minOccurs="0"/>
              <xs:element name="Authenticator" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:AuthenticatorNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AuthenticatorIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:AuthenticatorRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:AuthenticatorIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="BinaryFile" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:BinaryFileIdentificationIDType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Title" type="ds:BinaryFileTitleTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="AuthorName" type="ds:BinaryFileAuthorNameTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="VersionID" type="ds:BinaryFileVersionIDType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="FileNametext" type="ds:BinaryFileFileNameTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="URIID" type="ds:BinaryFileURIIDType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="MIMECode" type="ds:BinaryFileMIMECodeType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="EncodingCode" type="ds:BinaryFileEncodingCodeType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="CharacterSetCode" type="ds:BinaryFileCharacterSetCodeType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="IncludedBinaryObjectBinaryObject" type="ds:BinaryFileIncludedBinaryObjectBinaryObjectType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Access" type="ds:BinaryFileAccessTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="Description" type="ds:BinaryFileDescriptionTextType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="SizeMeasure" type="ds:BinaryFileSizeMeasureType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="TypeCode" type="ds:BinaryFileTypeCodeType" minOccurs="0"/>
                    <xs:element name="HashCode" type="ds:BinaryFileHashCodeTextType" minOccurs="0"/>
                    <xs:element name="HashCodeAlgorithmIDCode" type="ds:BinaryFileHashCodeAlgorithmIDCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="InsuranceCompany" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:InsuranceCompanyNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:InsuranceCompanyIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:InsuranceCompanyRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:InsuranceCompanyIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Submitter" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:SubmitterRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:SubmitterIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
              <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
              <xs:element name="LimitDateTime" type="ds:AdditionalInformationLimitDateTimeType" minOccurs="0"/>
              <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
              <xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType" minOccurs="0"/>
                    <xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType" minOccurs="0"/>
                    <xs:element name="TagID" type="ds:PointerTagIDType" minOccurs="0"/>
                    <xs:element name="Location" type="ds:PointerLocationTextType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Amendment" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChangeReasonCode" type="ds:AmendmentChangeReasonCodeType" minOccurs="0"/>
              <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
                    <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                    <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType" minOccurs="0"/>
                    <xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType" minOccurs="0"/>
                    <xs:element name="TagID" type="ds:PointerTagIDType" minOccurs="0"/>
                    <xs:element name="Location" type="ds:PointerLocationTextType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AppealOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:AppealOfficeIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Bank" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReferenceID" type="ds:BankReferenceIDType" minOccurs="0"/>
              <xs:element name="ID" type="ds:BankAccountIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:ContactOfficeIdentificationIDType" minOccurs="0"/>
              <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                    <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Control" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LimitDateTime" type="ds:ControlLimitDateTimeType" minOccurs="0"/>
              <xs:element name="InspectionStartDateTime" type="ds:ControlInspectionStartDateTimeType" minOccurs="0"/>
              <xs:element name="InspectionEndDateTime" type="ds:ControlInspectionEndDateTimeType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:ControlTypeCodeType" minOccurs="0"/>
              <xs:element name="ControlResult" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:ControlResultIdentificationCodeType" minOccurs="0"/>
                    <xs:element name="ExaminationImageBinaryObject" type="ds:ControlResultExaminationImageBinaryObjectType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Counterpart" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:CounterpartNameTextType" minOccurs="0"/>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Declaration" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AcceptanceDateTime" type="ds:DeclarationAcceptanceDateTimeType" minOccurs="0"/>
              <xs:element name="CancellationDateTime" type="ds:DeclarationCancellationDateTimeType" minOccurs="0"/>
              <xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType" minOccurs="0"/>
              <xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="0"/>
              <xs:element name="RejectionDateTime" type="ds:DeclarationRejectionDateTimeType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType" minOccurs="0"/>
              <xs:element name="VersionID" type="ds:DeclarationVersionIDType" minOccurs="0"/>
              <xs:element name="ReplyTypeCode" type="ds:DeclarationReplyTypeCodeType" minOccurs="0"/>
              <xs:element name="InvoiceAmount" type="ds:DeclarationInvoiceAmountType" minOccurs="0"/>
              <xs:element name="InsuranceCompany" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:InsuranceCompanyNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:InsuranceCompanyIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:InsuranceCompanyRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:InsuranceCompanyIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Submitter" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:SubmitterRoleCodeType" minOccurs="0"/>
                    <xs:element name="IdentificationIssuingCountryCode" type="ds:SubmitterIdentificationIssuingCountryCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                          <xs:element name="StreetName" type="ds:AddressStreetNameTextType" minOccurs="0"/>
                          <xs:element name="StreetNumberNumeric" type="ds:AddressStreetNumberNumericType" minOccurs="0"/>
                          <xs:element name="StreetNumberAddition" type="ds:AddressStreetNumberAdditionTextType" minOccurs="0"/>
                          <xs:element name="PostOfficeBoxID" type="ds:AddressPostOfficeBoxIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="ds:ContactNameTextType" minOccurs="0"/>
                          <xs:element name="FunctionCode" type="ds:ContactFunctionCodeType" minOccurs="0"/>
                          <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Communication" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:CommunicationIdentificationIDType" minOccurs="0"/>
                          <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdditionalIdentifier" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:AdditionalIdentifierSequenceNumericType" minOccurs="0"/>
                          <xs:element name="ID" type="ds:AdditionalIdentifierIdentificationIDType" minOccurs="0"/>
                          <xs:element name="IdentificationIssuingCountryCode" type="ds:AdditionalIdentifierIdentificationIssuingCountryCodeType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DutyTaxFee" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DutyRegimeCode" type="ds:DutyTaxFeeDutyRegimeCodeType" minOccurs="0"/>
                    <xs:element name="TaxRateNumeric" type="ds:DutyTaxFeeTaxRateNumericType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:DutyTaxFeeTypeCodeType" minOccurs="0"/>
                    <xs:element name="Payment" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TaxAssessedAmount" type="ds:PaymentTaxAssessedAmountType" minOccurs="0"/>
                          <xs:element name="DueDateTime" type="ds:PaymentDueDateTimeType" minOccurs="0"/>
                          <xs:element name="PaymentAmount" type="ds:PaymentPaymentAmountType" minOccurs="0"/>
                          <xs:element name="ObligationGuarantee" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ReferenceID" type="ds:ObligationGuaranteeReferenceIDType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GoodsShipment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:GoodsShipmentSequenceNumericType" minOccurs="0"/>
                    <xs:element name="CustomsValuation" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FreightChargeAmount" type="ds:CustomsValuationFreightChargeAmountType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GovernmentAgencyGoodsItem" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomsValueAmount" type="ds:GovernmentAgencyGoodsItemCustomsValueAmountType" minOccurs="0"/>
                          <xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="0"/>
                          <xs:element name="Commodity" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SequenceNumeric" type="ds:CommoditySequenceNumericType" minOccurs="0"/>
                                <xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="0"/>
                                <xs:element name="Classification" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="ID" type="ds:ClassificationIdentificationIDType" minOccurs="0"/>
                                      <xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DutyTaxFee" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TaxRateNumeric" type="ds:DutyTaxFeeTaxRateNumericType" minOccurs="0"/>
                                      <xs:element name="TypeCode" type="ds:DutyTaxFeeTypeCodeType" minOccurs="0"/>
                                      <xs:element name="TaxationDateTime" type="ds:DutyTaxFeeTaxationDateTimeType" minOccurs="0"/>
                                      <xs:element name="Payment" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="TaxAssessedAmount" type="ds:PaymentTaxAssessedAmountType" minOccurs="0"/>
                                            <xs:element name="DueDateTime" type="ds:PaymentDueDateTimeType" minOccurs="0"/>
                                            <xs:element name="PaymentAmount" type="ds:PaymentPaymentAmountType" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Rate" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="TaxRateNumeric" type="ds:RateTaxRateNumericType" minOccurs="0"/>
                                            <xs:element name="TariffClassSpecificationCode" type="ds:RateTariffClassSpecificationCodeType" minOccurs="0"/>
                                            <xs:element name="AdValoremTaxBaseRateNumeric" type="ds:RateAdValoremTaxBaseRateNumericType" minOccurs="0"/>
                                            <xs:element name="SpecificTaxBaseRate" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="SpecificTaxBaseQuantity" type="ds:SpecificTaxBaseRateSpecificTaxBaseQuantityType" minOccurs="0"/>
                                                  <xs:element name="CurrencyTypeCode" type="ds:SpecificTaxBaseRateCurrencyTypeCodeType" minOccurs="0"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="NetNetWeightMeasure" type="ds:GoodsMeasureNetNetWeightMeasureType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Packaging" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:PackagingTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Error" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Description" type="ds:ErrorDescriptionTextType" minOccurs="0"/>
              <xs:element name="ValidationCode" type="ds:ErrorValidationCodeType" minOccurs="0"/>
              <xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType" minOccurs="0"/>
                    <xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType" minOccurs="0"/>
                    <xs:element name="TagID" type="ds:PointerTagIDType" minOccurs="0"/>
                    <xs:element name="Location" type="ds:PointerLocationTextType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:PaymentOfficeIdentificationIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ReleaseOffice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="ds:ReleaseOfficeIdentificationIDType" minOccurs="0"/>
              <xs:element name="ActualIndicator" type="ds:ReleaseOfficeActualIndicatorType" minOccurs="0"/>
              <xs:element name="Warehouse" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ID" type="ds:WarehouseIdentificationIDType" minOccurs="0"/>
                    <xs:element name="TypeCode" type="ds:WarehouseTypeCodeType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:WarehouseRoleCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Status" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EffectiveDateTime" type="ds:StatusEffectiveDateTimeType" minOccurs="0"/>
              <xs:element name="NameCode" type="ds:StatusNameCodeType" minOccurs="0"/>
              <xs:element name="ReleaseDateTime" type="ds:StatusReleaseDateTimeType" minOccurs="0"/>
              <xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType" minOccurs="0"/>
                    <xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType" minOccurs="0"/>
                    <xs:element name="TagID" type="ds:PointerTagIDType" minOccurs="0"/>
                    <xs:element name="Location" type="ds:PointerLocationTextType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
