UNESCO_WCO_CulturalObjects_1p0-unnoted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:UNESCO_WCO_CulturalObjects:1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ds="urn:wco:datamodel:WCO:UNESCO_WCO_CulturalObjects_DS:1"
    targetNamespace="urn:wco:datamodel:WCO:UNESCO_WCO_CulturalObjects:1"
    elementFormDefault="qualified">
  <xs:import namespace="urn:wco:datamodel:WCO:UNESCO_WCO_CulturalObjects_DS:1" schemaLocation="UNESCO_WCO_CulturalObjects_1p0_urn_wco_datamodel_WCO_UNESCO_WCO_CulturalObjects_DS_1.xsd"/>
  <xs:element name="LPCO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LoadingListQuantity" type="ds:LPCOLoadingListQuantityType" minOccurs="0"/>
        <xs:element name="Authentication" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TypeCode" type="ds:AuthenticationTypeCodeType" minOccurs="0"/>
              <xs:element name="ID" type="ds:AuthenticationIdentificationIDType" minOccurs="0"/>
              <xs:element name="ActualDateTime" type="ds:AuthenticationActualDateTimeType" minOccurs="0"/>
              <xs:element name="ActualLocationID" type="ds:AuthenticationActualLocationIDType" minOccurs="0"/>
              <xs:element name="Authentication" type="ds:AuthenticationAuthenticationTextType" minOccurs="0"/>
              <xs:element name="LocationName" type="ds:AuthenticationLocationNameTextType" minOccurs="0"/>
              <xs:element name="Authenticator" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:AuthenticatorNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AuthenticatorIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:AuthenticatorRoleCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AuthorisedPerson" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:AuthorisedPersonNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:AuthorisedPersonIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:AuthorisedPersonRoleCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EffectiveDateTime" type="ds:AdditionalDocumentEffectiveDateTimeType" minOccurs="0"/>
              <xs:element name="ExpirationDateTime" type="ds:AdditionalDocumentExpirationDateTimeType" minOccurs="0"/>
              <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
              <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
              <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
              <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AuthorisedPerson" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:AuthorisedPersonNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:AuthorisedPersonIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:AuthorisedPersonRoleCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Consignment" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SequenceNumeric" type="ds:ConsignmentSequenceNumericType" minOccurs="0"/>
              <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LimitDateTime" type="ds:AdditionalInformationLimitDateTimeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Consignee" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="ds:ConsigneeNameTextType" minOccurs="0"/>
                    <xs:element name="ID" type="ds:ConsigneeIdentificationIDType" minOccurs="0"/>
                    <xs:element name="RoleCode" type="ds:ConsigneeRoleCodeType" minOccurs="0"/>
                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                          <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                          <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                          <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                          <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                          <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ConsignmentItem" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SequenceNumeric" type="ds:ConsignmentItemSequenceNumericType" minOccurs="0"/>
                    <xs:element name="GoodsStatusCode" type="ds:ConsignmentItemGoodsStatusCodeType" minOccurs="0"/>
                    <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
                          <xs:element name="BinaryFile" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:BinaryFileIdentificationIDType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Title" type="ds:BinaryFileTitleTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="AuthorName" type="ds:BinaryFileAuthorNameTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="VersionID" type="ds:BinaryFileVersionIDType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="FileNametext" type="ds:BinaryFileFileNameTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="URIID" type="ds:BinaryFileURIIDType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="MIMECode" type="ds:BinaryFileMIMECodeType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="EncodingCode" type="ds:BinaryFileEncodingCodeType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="CharacterSetCode" type="ds:BinaryFileCharacterSetCodeType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="IncludedBinaryObjectBinaryObject" type="ds:BinaryFileIncludedBinaryObjectBinaryObjectType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Access" type="ds:BinaryFileAccessTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Description" type="ds:BinaryFileDescriptionTextType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="SizeMeasure" type="ds:BinaryFileSizeMeasureType" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="TypeCode" type="ds:BinaryFileTypeCodeType" minOccurs="0"/>
                                <xs:element name="HashCode" type="ds:BinaryFileHashCodeTextType" minOccurs="0"/>
                                <xs:element name="HashCodeAlgorithmIDCode" type="ds:BinaryFileHashCodeAlgorithmIDCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Commodity" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SequenceNumeric" type="ds:CommoditySequenceNumericType" minOccurs="0"/>
                          <xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="0"/>
                          <xs:element name="ValueAmount" type="ds:CommodityValueAmountType" minOccurs="0"/>
                          <xs:element name="CountQuantity" type="ds:CommodityCountQuantityType" minOccurs="0"/>
                          <xs:element name="CategoryCode" type="ds:CommodityCategoryCodeType" minOccurs="0"/>
                          <xs:element name="CategoryQualifierCode" type="ds:CommodityCategoryQualifierCodeType" minOccurs="0"/>
                          <xs:element name="ManufactureDateTime" type="ds:CommodityManufactureDateTimeType" minOccurs="0"/>
                          <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
                                <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
                                <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                                <xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Classification" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:ClassificationIdentificationIDType" minOccurs="0"/>
                                <xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Manufacturer" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:ManufacturerNameTextType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:ManufacturerIdentificationIDType" minOccurs="0"/>
                                <xs:element name="RoleCode" type="ds:ManufacturerRoleCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Product" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ID" type="ds:ProductIdentificationIDType" minOccurs="0"/>
                                <xs:element name="IdentifierTypeCode" type="ds:ProductIdentifierTypeCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProductName" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Description" type="ds:ProductNameDescriptionTextType" minOccurs="0"/>
                                <xs:element name="QualifierCode" type="ds:ProductNameQualifierCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ProductCharacteristics" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TypeCode" type="ds:ProductCharacteristicsTypeCodeType" minOccurs="0"/>
                                <xs:element name="Description" type="ds:ProductCharacteristicsDescriptionTextType" minOccurs="0"/>
                                <xs:element name="QualifierCode" type="ds:ProductCharacteristicsQualifierCodeType" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PropertyOwner" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="ds:PropertyOwnerNameTextType" minOccurs="0"/>
                                <xs:element name="ID" type="ds:PropertyOwnerIdentificationIDType" minOccurs="0"/>
                                <xs:element name="RoleCode" type="ds:PropertyOwnerRoleCodeType" minOccurs="0"/>
                                <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                                      <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                                      <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                                      <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                                      <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                                      <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                                      <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                                      <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Destination" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CountryCode" type="ds:DestinationCountryCodeType" minOccurs="0"/>
                          <xs:element name="CountryName" type="ds:DestinationCountryNameTextType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="NetNetWeightMeasure" type="ds:GoodsMeasureNetNetWeightMeasureType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Origin" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="RegionID" type="ds:OriginRegionIDType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Packaging" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LengthMeasure" type="ds:PackagingLengthMeasureType" minOccurs="0"/>
                          <xs:element name="WidthMeasure" type="ds:PackagingWidthMeasureType" minOccurs="0"/>
                          <xs:element name="HeightMeasure" type="ds:PackagingHeightMeasureType" minOccurs="0"/>
                          <xs:element name="DiameterMeasure" type="ds:PackagingDiameterMeasureType" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GovernmentProcedure" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LPCOAuthorizedParty" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:LPCOAuthorizedPartyNameTextType" minOccurs="0"/>
              <xs:element name="ID" type="ds:LPCOAuthorizedPartyIdentificationIDType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:LPCOAuthorizedPartyRoleCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RepresentativePerson" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="ds:RepresentativePersonNameTextType" minOccurs="0"/>
              <xs:element name="RoleCode" type="ds:RepresentativePersonRoleCodeType" minOccurs="0"/>
              <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0"/>
                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
                    <xs:element name="CountryName" type="ds:AddressCountryNameTextType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
                    <xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
